<a href="https://colab.research.google.com/github/ASidorenkoCode/Machine-Learning/blob/main/%C3%9Cbung_24_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Seite 4

a = 4.3
b = 2
c = a + b + 0.7
d = [a,2,7,c]
e = list("Hello , World!")
f = e[2:4]
g = e[4] == "l" or d[2] < 8

In [ ]:
print("a ist eine " + str(type(a)))
print("b ist eine " + str(type(b)))
print("c ist eine " + str(type(c)))
print("d ist eine " + str(type(d)))
print("e ist eine " + str(type(e)))
print("f ist eine " + str(type(f)))
print("g ist eine " + str(type(g)))

a ist eine <class 'float'>
b ist eine <class 'int'>
c ist eine <class 'float'>
d ist eine <class 'list'>
e ist eine <class 'list'>
f ist eine <class 'list'>
g ist eine <class 'bool'>

In [ ]:
# Was ist der Wert von f?
print(f)

['l', 'l']

In [ ]:
# Was ist der Wert von g?
print(g)

True

In [ ]:
# Was ergibt len(e)?
print(len(e))

14

Gegeben sei: xs = [1, 2, 4, 5, 6, 7]

 1 Definieren Sie xs in einem Python Notebook.

 2 Extrahieren Sie die ersten beiden Elemente per Slicing.

 3 Fügen Sie mit +-Operator die Zahl 3 an der dritten Stelle ein.

In [ ]:
# 1
xs = [1,2,4,5,6,7]
print("-------")
# 2
print(xs[:2])
print("-------")
# 3
print(xs[:2]+[3]+xs[2:])

-------
[1, 2]
-------
[1, 2, 3, 4, 5, 6, 7]

Gegeben: Liste von Zahlen
 [1.4, 2.3, 8.3, 2.3, 7.4, 5.6, 6.9, 7.2]

 1 Definieren Sie die Liste in einer Variable.

 2 Schreiben Sie eine Funktion avg, die den Mittelwert berechnet.

 3 Nutzen Sie avg, um das arithmetische Mittel auszugeben.

In [ ]:
# 1
xy = [1.4, 2.3, 8.3, 2.3, 7.4, 5.6, 6.9, 7.2]
print(xy)
print("-------")

# 2
def avg(liste):
  return sum(liste)/len(liste)

# 3
print(avg(xy))

[1.4, 2.3, 8.3, 2.3, 7.4, 5.6, 6.9, 7.2]
-------
5.175000000000001

Gegeben: Liste von Strings
 [’ProductId’, ’ProductName’, ’ProductCategory’, ’Price:EUR’, ’Price:USD’,
 ’Price:DKK’, ’Price:PLN’]

 1 Definieren Sie die Liste als alle_spalten.

 2 Schreiben Sie eine Funktion zur Filterung von ProductId und Price:-Spalten.

 3 Verwenden Sie str.replace, um Price: zu entfernen.

 4 Entfernen Sie das letzte Element aus der Liste.

In [ ]:
# 1
alle_spalten = ['ProductId', 'ProductName', 'ProductCategory', 'Price:EUR', 'Price:USD', 'Price:DKK', 'Price:PLN']

# 2
def filter_spalten(spalten):
    return [spalte for spalte in spalten if spalte == 'ProductId' or spalte.startswith('Price:')]

# 3
def bereinige_spalten(spalten):
    return [spalte.replace('Price:', '') if spalte.startswith('Price:') else spalte for spalte in spalten]

gefilterte_spalten = filter_spalten(alle_spalten)
print("Gefilterte Spalten:", gefilterte_spalten)

bereinigte_spalten = bereinige_spalten(gefilterte_spalten)
print("Bereinigte Spalten:", bereinigte_spalten)

# 4
bereinigte_spalten.pop()
print("Liste nach Entfernung des letzten Elements:", bereinigte_spalten)

Gefilterte Spalten: ['ProductId', 'Price:EUR', 'Price:USD', 'Price:DKK', 'Price:PLN']
Bereinigte Spalten: ['ProductId', 'EUR', 'USD', 'DKK', 'PLN']
Liste nach Entfernung des letzten Elements: ['ProductId', 'EUR', 'USD', 'DKK']

Gegeben:

 countries = [’DE’, ’NL’, ’AT’, ’CH’, ’PL’]

 sales = [1000000, 500000, 750000, 400000, 175000]

 1 Erstellen Sie eine Liste von 2-Tupeln mit zip.

 2 Erweitern Sie zu 3-Tupeln mit dem relativen Anteil am Gesamtumsatz.

 Beispiel:
 [(’DE’, 1000000, 0.354), (’NL’, 500000, 0.177), ...]

In [ ]:
# 1
countries = ['DE', 'NL', 'AT', 'CH', 'PL']
sales = [1000000, 500000, 750000, 400000, 175000]
print("Liste von 2-Tuplen mit zip:", list(zip(countries, sales)))

# 2
umsatz = sum(sales)
print("Liste von 3-Tupeln mit relativen Anteil an GesUmsatz:", list(zip(countries, sales, [round(sale / umsatz, 3) for sale in sales])))

Liste von 2-Tuplen mit zip: [('DE', 1000000), ('NL', 500000), ('AT', 750000), ('CH', 400000), ('PL', 175000)]
Liste von 3-Tupeln mit relativen Anteil an GesUmsatz: [('DE', 1000000, 0.354), ('NL', 500000, 0.177), ('AT', 750000, 0.265), ('CH', 400000, 0.142), ('PL', 175000, 0.062)]